.blog{
    border: 1px solid black;
    padding-top: 100px;
    padding-left: 30px;
    padding-bottom: 100px;
    background-color: rgb(23, 11, 189);
    color: aliceblue;
}

.header{
    padding-bottom: 20px;
}
.weight{
    font-size: x-large;

}
.size{
    font-size: 20px;
}
.size1{
    font-size: 16px;
    padding-top: 25px;
}
.section2{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
   
}
.head{
     padding-bottom: 20px;
}
.blog1{
    display: flex;
    flex-direction: column;
    width: 300px;
    border: 1px solid black ;
    border-radius: 10px;
    margin-left: 30px;
    margin-top: 50px;
    text-decoration: none;
    /* padding-left: 20px; */
    /* padding-top: 20px; */
    /* padding-bottom: 20px; */
}

.in{

    background-color: orangered;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    border-radius: 10px 10px 0px 0px;
    color: white;
}
.link{
    text-decoration: none;
}
.in1{
    padding-top: 15px;
    padding-left: 20px;
    padding-bottom: 15px;
    color: black;
}
.in2{
    display: flex;
    flex-direction: row;
    padding-left: 20px;
}